/* layout */
body{ font-family: 'Montserrat','Noto Sans KR', sans-serif !important; }
.content { padding-bottom:80px; }
header { padding: 29px 0 40px; background-color: #000; border-bottom: 1px solid #3f3f3f; box-shadow: 2px 0 10px rgba(63,63,63,.5); box-sizing: border-box; }
footer { padding: 30px 0 30px; color: #fff; background: #161616; }
.header-inner,
.footer-inner {display: flex; position:relative; max-width:1860px; min-width:1260px; width:100%; margin:0 auto; padding:0 30px; box-sizing: border-box;}
.inner { position:relative; max-width:1860px; min-width:1260px; width:100%; margin:0 auto; padding:0 30px; box-sizing: border-box;}

.nav-tabs { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border:0; }
.nav-tabs .nav-link { line-height: 1; color: #fff; font-size: 21px; font-weight: 700; text-wrap: nowrap;letter-spacing: -0.5px; border:0;}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover { border:0;  border-bottom:1px solid #fff;}

.pagination { display: flex; justify-content: center; }
.page-item .page-link,
.page-item:first-child .page-link,
.page-item:last-child .page-link { border-radius:0; }
.page-link { color:#000; border-color:#fff; }
.page-link:hover {color:#000; border:1px solid #fff; border-bottom: 1px solid #3f3f3f;  background:none; }
.page-item .page-link { color:#fff; border-color: #000; background-color: #000; }

.titleArea { margin: 80px 0 37px; text-align: left; }
.titleArea h2 { color: #3b3b3b; font-size: 26px; font-weight: 700; line-height: 1.1; }

/* propose list */
.bg-light { margin-bottom: 30px; border-bottom: 1px solid #3f3f3f; background-color:#fff !important; }
.navbar>.container-fluid,
.navbar-brand { margin:0; padding:0; }
.navbar-brand { width:106px; font-weight: 600; }
.navbar-expand-lg .navbar-nav .nav-link { padding:0 15px; }
.navbar-expand-lg .navbar-nav .nav-link.active { color:#3245d2; font-weight: 700; }
.form-select { width:10%; }
#propose-list table { margin: 30px 0 37px;  }
#propose-list table.table>thead,
#propose-list table.table tr:last-child { border-bottom: 1px solid #3f3f3f; }
#propose-list table td { height: 58px; padding:0 .5rem; line-height: 58px; }
#propose-list table td .btn-primary { border: none; background-color:#000; }
#propose-list table td .btn-primary:hover { background-color:#3245d2; border-radius: 0; }

/* propose show */
.form-floating { display: flex; flex-direction: column-reverse; margin:0 0 25px; padding: 15px; border: 1px solid #000; }
.propose-view .form-floating>.form-control:not(:placeholder-shown)~label,
.propose-view .form-floating>.form-select~label,
.form-floating>label { position: inherit; padding: 0; margin: 0; color:#000; font-size: 18px; font-weight: 600; transform: none; transition:none; }
.form-control { padding: 0 !important; margin: 0; border:0; }
.btn-primary,
.btn-success,
.btn-danger { width: 150px; height: 44px; line-height: 44px; padding: 0; border-radius: 0; border:0; }
.btn-primary,
.btn-primary:hover { background-color:#3245d2; }
.btn-success,
.btn-success:hover { color:#000; border:1px solid #000; background: #fff; }
.btn-danger,
.btn-danger:hover { background: #000; }

/* script */
.script-switch { display:flex; align-items: center; justify-content: center; border-top: 1px solid #3f3f3f; border-bottom: 1px solid #3f3f3f; }
.toggleSwitch { width: 100px; margin: 55px; height: 3rem; display: block; position: relative; border-radius: 2rem;  background-color: #fff;  box-shadow: 0 0 1rem 3px rgba(0 0 0 / 15%); cursor: pointer;}
.toggleSwitch .toggleButton { width: 25px; height: 25px; position: absolute; top: 50%; left: 0.6rem; transform: translateY(-50%); border-radius: 50%; background: #3245d2;}

/* 체크박스가 체크되면 변경 이벤트 */
#toggle:checked ~ .toggleSwitch { background: #3245d2;}
#toggle:checked ~ .toggleSwitch .toggleButton { left: calc(100% - 2.4rem); background: #fff;}
.toggleSwitch, .toggleButton { transition: all 0.2s ease-in;}
#toggleContents {  font-size: 20px; font-weight: 600; }