body { background:#000; font-family:'Noto Sans KR'; overflow:hidden; }
a, a:hover { text-decoration:none; }
a { color:inherit; }
em { font-style:normal; }

.content { padding:0 15px; }
.contact-tab { margin:0 0 30px; }
.contact-tab ul { display:flex; gap:14px; flex-wrap:wrap; list-style:none; margin:0; padding:0; }
.contact-tab ul li a { padding:1px; color:#888888; font-size:14px; border-bottom:1px solid transparent; letter-spacing:-0.5px; }
.contact-tab ul li a.active { color:#fff; font-style:italic; border-bottom:1px solid #fff; }
.form-floating>.form-control { height:40px; min-height:40px; padding:0 12px; background:#333333; border-color:#333333; color:#fff; font-size:11px; box-sizing:border-box; }
.form-floating>label { padding:12px 12px; color:#fff; font-size:11px; }
.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label { color:#888888; padding:10px 12px; }
.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after { background:none; }
.kind-tit h2 { margin:0 0 8px; color:#fff; font-size:13px; font-weight:400; }

.btn-box { margin-top:24px; }
.btn-box button { width:100%; height:40px; line-height:40px; background:#3245d2; border-radius:5px; color:#ffffff; font-size:14px; border:0; }

.valid-feedback { display:block; }